.number{
    display: inline;
    font-family:'Staatliches', cursive
}
  .number a {
    color: black;
    padding: 8px 16px;
  }
  .number a.activo {
    background-color: green;
    color: white;
  }
  .number a:hover:not(.activo){
    background-color: gray;
  }